<% if notice %>
  <div id="notice_wrapper"
       style="
             position: absolute;
             top: 0;
             width: 100%;
             z-index: 999;
             background: rgba(135, 216, 211, 1); 
            "
  >
    <p class="notice"
       style="
            padding: 2.5rem 0;
            text-align: center;
            margin: 0;
            font-size: 1.25rem;
            font-weight: 700;
            color: #FFFFFF;
            letter-spacing: 1px;
    ">
      <%= notice %>
    </p>
  </div>
<% elsif alert %>
  <div id="notice_wrapper"
    style="
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 999;
      background: rgba(135, 216, 211, 1);      
     "
  >
    <p class="alert"
      style="
         padding: 1.75rem 0;
         text-align: center;
         margin: 0;
         font-size: 1.25rem;
         font-weight: 700;
         color: #FFFFFF;
         letter-spacing: 1px;
    ">
      <%= alert %>
    </p>
  </div>
<% end %>

<% if resource.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- 4.5 seconds show then fade out  -->
<script>
  $(document).ready(function(){
    setTimeout(function(){
      $('#notice_wrapper').fadeOut("slow", function() {
        $(this).remove();
      })
    }, 4500) ;
  });
</script>