 <section class="py-0" id="page-shop" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
        <div class="bg-holder" style="background-image:url(https://images.pexels.com/photos/4429141/pexels-photo-4429141.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);"></div>
        <!--/.bg-holder-->
        <div class="container">
          <div class="row">
            <div class="col-9 pt-11 pb-5">
              <div class="media"><span class="fas fa-gift text-white fs-6"></span>
                <div class="media-body pl-3">
                  <div class="overflow-hidden">
                    <h2 class="fs-4 text-white display-4 text-serif" data-zanim-xs='{"delay":0.6}' data-zanim-trigger="scroll"><span class="font-italic">Argo Athletic</span></h2>
                  </div>
                  <div class="overflow-hidden">
                    <h6 class="mb-0 text-white ls-2 text-uppercase" data-zanim-xs='{"delay":0.8}' data-zanim-trigger="scroll">Bienvenue dans votre Dashboard</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->
      </section>
 <section class="text-center" id="software-features">
        <div class="container">
          <div class="row justify-content-between">
                       <div class="col-4" data-zanim-timeline='{"delay":0.2}' data-zanim-trigger="scroll">
              <img class="rounded-soft img-fluid" src="https://images.pexels.com/photos/1030794/pexels-photo-1030794.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' />
              <div class="overflow-hidden">
                <h4 class="mt-4" data-zanim-xs='{"delay":0.2}'>VOTRE PROGRAMME : JUMP</h4>
              </div>
              <div class="overflow-hidden">
                <p data-zanim-xs='{"delay":0.3}'>The ability to switch perspective lets you see clearly, and to know where to take the next step. With sparrow, you can work on a portfolio, business website, or shop.</p>
              <div><%= link_to "Créer mon Programme", new_workout_program_path, class:"btn btn-warning btn-sm"%></div>
              </div>
            </div>
            <div class="col-4" data-zanim-timeline='{"delay":0.3}' data-zanim-trigger="scroll">
              <img class="rounded-soft img-fluid" src="https://images.pexels.com/photos/421160/pexels-photo-421160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' />
              <div class="overflow-hidden">
                <h4 class="mt-4" data-zanim-xs='{"delay":0.2}'>VOTRE ENTRAINEMENT</h4>
              </div>
              <div class="overflow-hidden">
                <p data-zanim-xs='{"delay":0.3}'>The ability to switch perspective lets you see clearly, and to know where to take t</p>
                <p data-zanim-xs='{"delay":0.3}'>Jour 1 - Jour 2 - Jour 3 - Jour 4 -</p>
              <div><%= link_to "Editer Profile Sportif", edit_user_profile_path(id: @profile, user_id: @id), class:"btn btn-success btn-sm"%></div>

              </div>
            </div>
             <div class="col-4" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
              <img class="rounded-soft img-fluid" src="https://images.pexels.com/photos/1174170/pexels-photo-1174170.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' />
              <div class="overflow-hidden">
                <h4 class="mt-4" data-zanim-xs='{"delay":0.2}'>VOTRE COMPTE</h4>
              </div>
              <div class="overflow-hidden">
                <p data-zanim-xs='{"delay":0.3}'>Nom Prénom</p>
                <p data-zanim-xs='{"delay":0.3}'>Adresse mail</p>
                <p data-zanim-xs='{"delay":0.3}'>Inscrits depuis</p>
                <div><%= link_to "Compte utilisateur", edit_user_registration_path, class:"btn btn-primary btn-sm" %></div>
              </div>
            </div>
            <div class="col-lg-6 px-lg-6 pt-6" data-zanim-timeline='{"delay":0.4}' data-zanim-trigger="scroll">
              <img class="rounded-soft img-fluid" src="assets/img/illustration/04.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' />
              <div class="overflow-hidden">
                <h4 class="mt-4" data-zanim-xs='{"delay":0.2}'>Option 1</h4>
              </div>
              <div class="overflow-hidden">
                <p data-zanim-xs='{"delay":0.3}'>Everything is connected. Wherever you have related sections stored in separate pages, you lose control over the design. With sparrow you can easily join any section to create a simple, yet powerful website.</p>
              </div>
            </div>
            <div class="col-lg-6 px-lg-6 pt-6" data-zanim-timeline='{"delay":0.4}' data-zanim-trigger="scroll">
              <img class="rounded-soft img-fluid" src="assets/img/illustration/04.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' />
              <div class="overflow-hidden">
                <h4 class="mt-4" data-zanim-xs='{"delay":0.2}'>Option 2</h4>
              </div>
              <div class="overflow-hidden">
                <p data-zanim-xs='{"delay":0.3}'>Everything is connected. Wherever you have related sections stored in separate pages, you lose control over the design. With sparrow you can easily join any section to create a simple, yet powerful website.</p>
              </div>
            </div>
          </div>
        </div>
          </div>
        </div>
        
        <!-- end of .container-->
      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


