<section class="py-0" id="page-contact">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 bg-white pt-8 pb-4 pt-lg-8">
        <div class="row h-100 align-items-center justify-content-center">
          <div class="col-lg-8" data-zanim-lg='{"animation":"slide-left","delay":0.6}' data-zanim-trigger="scroll">
            <h1 class="text-underline d-inline-block mb-4 mb-lg-6">
              Contact
            </h1>
            <p class="font-weight-bold mb-0">
              Adresse :
              <span class="ml-2 font-weight-normal">
                Rue des spartiates - Paris, France
              </span>
            </p>
            <p class="font-weight-bold mb-0">
              Téléphone : 
              <span class="ml-2 font-weight-normal">
                <p>+06 00 00 00 00</p>
              </span>
            </p>
            <p class="font-weight-bold mb-4">
              E-mail:
              <span class="ml-2 font-weight-normal font-italic">
                <p>
                  argo-athletic@spartiates.com
                </p>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
