

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main min-vh-100" id="top">

      <!-- ============================================-->
      <!-- Preloader ==================================-->
      <!-- ============================================-->
      <!-- End of Preloader ===========================-->

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0" id="page-404">
        <div class="container-fluid">
          <div class="row">
          <div class="col-lg-6 px-0">
            <div class="sticky-top vh-lg-100 py-9">
              <div class="bg-holder" 
                   style="background-image:url(<%= image_path '404.jpg' %>)" 
                   data-zanim-trigger="scroll"
                   data-zanim-lg='{"animation":"zoom-out-slide-right"}'
              ></div>
            </div>
          </div>
            <div class="col-lg-6 bg-white py-6">
              <div class="row h-100 align-items-center justify-content-center">
                <div class="col-lg-8">
                  <h1 class="display-4 fs-2 fs-lg-3 fs-xl-4"><span class="d-block overflow-hidden pb-1"><span class="d-inline-block" data-zanim-xs='{"delay":0.4}' data-zanim-trigger="scroll">La page</span></span><span class="d-block overflow-hidden pb-1"><span class="d-inline-block" data-zanim-xs='{"delay":0.4}' data-zanim-trigger="scroll">où vous voulez</span></span>
                    <span
                      class="d-block overflow-hidden pb-1"><span class="d-inline-block" data-zanim-xs='{"delay":0.4}' data-zanim-trigger="scroll">allez?</span></span>
                  </h1>
                  <div class="overflow-hidden">
                    <p class="fs-1 mt-4" data-zanim-xs='{"delay":0.5}' data-zanim-trigger="scroll">Elle n'existe pas.</p>
                  </div>
                  <div class="overflow-hidden">
                    <div data-zanim-xs='{"delay":0.6}' data-zanim-trigger="scroll">
                      <%= link_to "Retour à l'accueil", root_path, class:"btn btn-danger btn-sm mb-3"%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->
      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

