<h4 class="mt-5">Striped rows</h4>
              <div class="table-responsive mt-3">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Jour</th>
                      <th>Exercice 1</th>
                      <th>Exercice 2</th>
                      <th>Exercice 3</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                  </tbody>
                </table>
              </div>

<h1 class="hidden">
  <%= title 'Programmes' %>
</h1>
<h1>WorkoutPrograms#index</h1>
<p>Find me in app/views/workout_programs/index.html.erb</p>

<ul><% current_user.profile.workout_programs.each do |workout| %>
  <li>
  <span><%= workout.id %></span>
    <%= link_to "Workout Program #{workout.id}", workout_program_path(workout) %>
  <% end %></li>
</ul>

<div><%= link_to 'Create Workout Program', new_workout_program_path %></div>

        </div>
