<!-- preloader -->
<div class="preloader" id="preloader">
  <div class="loader">
    <div class="line-scale-pulse-out-rapid">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
<!-- load image file -->
<%= audio_tag "click-sound.mp3", class: "audio-play hidden" %>